/*Divisi Style untuk Property Header*/
.header {
	background-color: #353b48; height: 53px
}
.header-logo {
	float: left;
	padding:3px;
}
.header-list li {
	float: left;
	padding: 20px;
	color: #fff;
}

/*Divisi Style untuk Property Main*/
.main {
	padding: 20px;
}

.copy-container h1 {
	font-size: 40px;
}

.copy-container h2 {
	font-size: 60px;
}

.copy-container span {
	color: #ff4a4a;
}

.contents-list {
	float: right;
}

.section-title {
	border:2px solid #dee7ec;
	font-size: 14px;
	padding-bottom: 15px;
	margin-bottom: 50px;
}

.contents {
	height:500px;
	margin-top: 10px;
}

.contents-item {
	float:left;
	margin-right: 40px;
}
/*Divisi Style untuk Property Footer*/
.footer {
	background-color: #2d3436;
	color: #fff;
	height: 120px;
	padding:40px;
}
.footer-logo {
	float: left;
	font-size:32px;
	padding:20px 20px;
}
.footer-list {
	float: right;
}

.footer-list li {
	padding: 10px; 
}

.selected {
	color: red;
}
/*List Property*/
li {
	list-style: none;
}

/*List Formulir*/
input , textarea {
	width: 400px;
	margin-top: 10px;
	margin-bottom: 30;
	padding: 20px;
	font-size: 18px;
	border: 1px solid #353b48;
}

.contact-submit {
	background-color: #353b48;
	color: #889eab;
}
